*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#182848,#4b6cb7);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-page{

width:900px;

height:550px;

background:#fff;

display:flex;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 35px rgba(0,0,0,.3);

}

.left-side{

flex:1;

background:url("../Images/image\ 3.png");

background-size:cover;

background-position:center;

color:white;

padding:60px;

display:flex;

flex-direction:column;

justify-content:center;

}

.left-side h1{

font-size:48px;

margin-bottom:20px;

}

.left-side p{

font-size:20px;

line-height:35px;

}

.right-side{

flex:1;

padding:50px;

}

.right-side h2{

font-size:35px;

margin-bottom:10px;

}

.right-side p{

color:gray;

margin-bottom:30px;

}

label{

display:block;

margin-top:20px;

margin-bottom:8px;

font-weight:bold;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #ddd;

padding:12px;

border-radius:10px;

margin-bottom:10px;

}

.input-box i{

margin-right:10px;

color:#666;

}

.input-box input{

width:100%;

border:none;

outline:none;

font-size:16px;

}

.options{

display:flex;

justify-content:space-between;

margin:20px 0;

font-size:15px;

}

.options a{

color:#4b6cb7;

text-decoration:none;

font-weight:bold;

}

.login-btn{

width:100%;

padding:15px;

border:none;

border-radius:10px;

font-size:18px;

background:linear-gradient(to right,#2563eb,#8b5cf6);

color:white;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-3px);

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.register{

margin-top:30px;

text-align:center;

}

.register a{

text-decoration:none;

color:#7c3aed;

font-weight:bold;

}